{% extends 'base.html' %}
{% block title %}Cypher-Ball Answer{% endblock %}

{% block content %}
<body class="container" data-bs-theme="dark">
    <form method="get" action="{{ url_for('home') }}">
    <div class="container d-flex justify-content-center align-items-center vh-100" data-bs-theme="light">
        <div class="card text-center mb-3" style="width: 20rem; height: 15rem;">
            <div class="card-body d-flex flex-column justify-content-center">
                <h4 class="text-center">Cypher-Ball</h4>
                <p class="text-center mb-5">I think...</p>
                <p class="card-title" style="border-bottom: 1px solid;">{{ ball_answer }}</p>
                <button type="submit" class="btn btn-success">Go Back</button>
        </div>
    </div>
    </div>
    </form>
</body>
{% endblock %}