{% extends 'base.html' %}
{% block title %}Cypher-Ball{% endblock %}

{% block content %}
<body class="container" data-bs-theme="dark">
    <form id="requestForm" method="post" action="{{ url_for('show_answer') }}">
    <div class="container d-flex justify-content-center align-items-center vh-100" data-bs-theme="light">
    <div class="card text-center mb-3" style="width: 20rem; height: 15rem;">
        <div class="card-body d-flex flex-column justify-content-center">
            <h4 class="text-center">Cypher-Ball</h4>
            <p class="text-center mb-5">Ask the ball</p>
            <p id="user-text" class="card-title" contenteditable="true" style="border-bottom: 1px solid;"></p>
            <input type="hidden" name="user-question" id="hidden-answer">
            <button type="submit" class="btn btn-success">Shake Me</button>
            <div id="errorMsg" class="text-danger small mt-2" style="display: none;">
                You can input your question here you know.....
            </div>
        </div>
    </div>
    </div>
    </form>
    <script src="{{ url_for('static', filename='js/validation_btn.js') }}"></script>
</body>
{% endblock %}